@import url('/allbuild/post/asset/font/fonts.css');


html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body{
    margin: 0;
    padding: 0;
    background: url(/allbuild/post/asset/gambar/gambar\ latar\ belakang\ web\ post.jpg);
    background-size: cover;
}

.bagian{
    padding: 0px 103px;

}


.kepala ul{
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.kepala ul li p{
    font-family: 'Myriad Pro';
    color: #333333;
    font-weight: 200;
    letter-spacing: 0.30em;
    font-size: 13px;
}

/* main */

.utama{
    height: 700px;
    
    background-color: aqua;
}