/* Myriad Pro */

/* Black Italic */
@font-face {
  font-family: 'MyriadPro';
  src: url('/allbuild/post/asset/font/Myriad Pro/Myriad Pro Black Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'MyriadPro';
  src: url('/allbuild/post/asset/font/Myriad Pro/Myriad Pro Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'MyriadPro';
  src: url('/allbuild/post/asset/font/Myriad Pro/Myriad Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'MyriadPro';
  src: url('/allbuild/post/asset/font/Myriad Pro/Myriad Pro Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'MyriadPro';
  src: url('/allbuild/post/asset/font/Myriad Pro/Myriad Pro Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


/* HUMANE */

@font-face {
  font-family: 'humane';
  src: url('/rootallbuild/post/asset/font/HUMANE Typeface/OpenType-TT/Humane-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'humane';
  src: url('/rootallbuild/post/asset/font/HUMANE Typeface/OpenType-TT/Humane-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}