@import url('/allbuild/post/asset/font/font.css');

img,
.utama-kanan img,
.bagian img {
    -webkit-user-drag: none;
   
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body{
    margin: 0px;
    padding: 0px;
    background: url(/allbuild/post/asset/gambar/gambar-background.png)no-repeat;
    background-size: cover;
    background-color: #E9E5E2;
}


.bagian{
    padding: 0px 98px;
    
}

.kepala ul{
    padding-left: 0px;
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.kepala ul li p{
    font-family: 'Myriad Pro';
    color: #4E4E4E;
    font-weight: 400;
    letter-spacing: 0.30em;
    font-size: 13px;
}

/* main */

.utama{
    height: 700px;
    display: flex;
    /* background-color: aqua; */
}

.utama-kiri{
    width: 100px;
    /* background-color: azure; */
}


.utama-kiri p{
    position: relative;
    left: -8px;
    margin: 30px 0px 0px 0px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.30em;
    font-family: 'Myriad Pro';
    writing-mode: vertical-lr;
    
    
}

.kotak1{
    margin-top: 20px;
    width: 10px;
    height: 20px;
    background-color: rgb(2, 1, 1);
    position: relative;
    left: -4px;
}

.utama-kanan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aquamarine; */
}

.utama-kanan h1{
    position: relative;
    margin-top: -150px;
    margin-left: -100px;
    font-family: Humane;
    font-size: 600px;
    font-weight: 600;
    color: white;

}


.utama-kanan img{
    position: absolute;
    width: 650px;
    bottom: 0px;
    pointer-events: none;
}


/* bagian tengah1 */

.tengah1{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 155px;
    gap: 510px;
}

.tengah1 ul{
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0px;
}

/* .tengah1-kanan{
    background-color: coral;
    padding: 0px;
}

.tengah1-kiri{
    background-color: aqua;
} */

.tengah1 ul li a{
    
    text-decoration: none;
    color: #4E4E4E;
    font-size: 20px;
    letter-spacing: 0.28em;
    font-weight: 500;
}

.tengah1 ul li a:hover{
    color: rgb(255, 255, 255);
    position: relative;
    top: -5px;
    transition: all 0.3s ease;
}